<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameOnMate</title>
</head>
<body>
<p>Wrong answer mate, might wanna go back 2 school</p>

<a class="btn btn-primary" href="PlayingPage.html" role="button">Next</a>

</body>
</html>
<style>

    body{
        background-color: #d980ff;
        color: white;
        font-size: 45px;
        text-align: center;
    }
</style>